form {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

/* Makes responsive fields. Sets size and field alignment.*/
input, select, textarea {
    background-color: white;
    box-sizing: border-box;
    display: block;
    margin: 10px auto 20px;
    width: 80%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #FE9E00;
}

textarea {
    resize: none;
}

input[type=submit] {
    border: 1px solid #FE9E00;
    background-color: #FEAE00;
    color: aliceblue;
    font-size: 15px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #FE7300;
}
