/*General*/
body {
    background-color: #F9D977;
    font-family: 'Calibri', sans-serif;
}

main h1 {
    font-size: 48px;
}

.orange {
    color: #FEAE00;
}

/*Navigation bar*/
.topnav {
    height: 48px;
    background-color: #333;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.topnav li {
    padding: 0;
    margin: 8px;
    box-sizing: border-box;
    display: inline;
    list-style-type: none;
}

.topnav a {
    float: left;
    color: #F2F2F2;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a.logo {
    padding: 4px 0 0;
}

.topnav a.right {
    float: right;
}

.topnav a:hover {
    background-color: #DDD;
    color: black;
}

.topnav a.active {
    background-color: #FEAE00;
    color: white;
}
