/*Table styling*/
main table {
    margin-top: 20px;
    width: 100%;
    border: 1px solid #FEAE00;
    border-spacing: 0;
}

main th, td {
    width: 25%;
    padding: 15px;
    text-align: left;
}

main td {
    vertical-align: bottom;
}

main th {
    background-color: #FEAE00;
    color: white;
}

main table img {
    width: 100px;
    height: auto;
}

main tr:nth-child(even) {
    background-color: white;
}
