.bg-exodia {
    background-color: #191970;
}

.text-exodia {
    color: #191970;
}

.hr-2 {
    height: 2px;
}

textarea {
    resize: none;
}

.error-msg {
    color: red;
    margin: 8px;
    text-align: center
}

.min-w-300 {
    min-width: 300px;
}

.min-w-360 {
    min-width: 360px;
}

.home-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-gap: 1.5rem 3rem;
}
