<div class="jumbotron">
    <div class="row">
        <div class="col col-md-12 d-flex justify-content-center">
            <h1>All Products</h1>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col col-md-12 d-flex justify-content-center">
            <p>Check our products below!</p>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col col-md-12 d-flex justify-content-center">
            <ul>
                {{products}}
            </ul>
        </div>
    </div>
    <hr>
    <div align="center">
        <a href="/">Back to Home page</a>
    </div>
</div>
