<div class="jumbotron">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <h1>{{name}}</h1>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <h2>{{description}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <h3>{{type}}</h3>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <a href="/">Back to Home page</a>
        </div>
    </div>
</div>