<div class="jumbotron">
    <div class="row">
        <div class="col col-md-12 d-flex justify-content-center">
            <h1>Welcome to Chushka application</h1>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col col-md-12 d-flex justify-content-center">
            <p>Check our products below!</p>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-12 d-flex justify-content-center">
            <ul>
                {{products}}
            </ul>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col col-md-12 d-flex justify-content-center">
            <a class="btn btn-info" href="/products/create">Create Product</a>
        </div>
    </div>
</div>
